.auth {
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    .auth-page_franja{
        background-color: #005580;
        height: 18rem;
        width: 100%;
        opacity: 0.9;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }
  
  .auth-logo{
    width: 100px;
    height: 100px;
    margin: 5rem;
    opacity: 0.9;
  }