.map-marker {
  border-bottom: 1px dotted black;
  font-size: 40px;
  color: $color-main;
}

.map-marker .map-marker_text {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  font-size: 15px;
}

.map-marker_text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.map-marker:hover .map-marker_text {
  visibility: visible;
}
